body {
  background-color: #36454F;
}

#root {
  max-width: 90%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}


.App {
  text-align: center;
}

.heading {
  color: white;
  font-size: 80px;
}

.home {
  font-size: 30px;
}

.container {
  
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #fcc201;
  background-color: royalblue;
  margin: 10px;
  width: 250px;
  text-align: center;
  justify-content: center;
  position: relative;
  margin-left: 5%;
  padding: 10px;
}

.add-game-form {
  margin: 10px;
}

.cards{
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
  max-height: 100%;
  position: relative;
  float: left;
  height: 100%;
  background-color: #89CFF0;
  color: black;
  text-align: center;
  justify-content: center;
  padding: 10px;
}


.text-box {
  margin: 5px;
}

.review-title{
height: 15px;
text-align: center;
}

.review-box{
  text-align: center;
}

.delete {
  margin: 10px;
  color: red;
}

.button {
  margin: 5px;
}

.review-text-box {
  margin: 5px;
}

.review-title {
  text-align: center;
}

.review-heading {
  text-align: center;
  justify-content: center;
}

.review-box {
  padding-left: 0px;
}

.image {
  width: 150px;
  height: 150px;
}